* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Cardo", serif;
}

body {
    background-color: #f4f4f4;
    color: #10253a;
}

.logo {
    font-size: 2.7vw;
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
    color: #e09e64;
    letter-spacing: .1rem;
    animation: slideInLogo 1.5s ease-in-out;
}

.logo:hover {
    color: #e49652;
    text-shadow: 4px 4px 4px #000000;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    padding: 2rem 10% 2rem 10%;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.head_links a {
    font-size: 1.7vw;
    margin-left: 3rem;
    color: #d3a781;
    font-weight: 350;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.head_links a.active {
    color: #1f1e01;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.head_links a:hover {
    color: rgb(27, 18, 0);
    text-shadow: 2px 2px 4px rgba(67, 192, 161, 0.5);
}

.author-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
    min-height: 100vh;
    background-color: #fff;
}

.author-content {
    flex: 1;
    margin-right: 5%;
}

.author-content h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
    text-align: left;
}

.author-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #555;
    text-align: left;
}

.author-image {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-img {
    width: 400px;  /* Adjusted to 400px */
    height: 400px; /* Same height to maintain the square aspect */
    border-radius: 50%; /* Circular shape */
    object-fit: cover; /* Ensures the image fits without stretching */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); /* Adds shadow effect */
}

footer {
    background-color: #FFFFFF;
    color: black;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5rem;
}

footer a:hover {
    color: #3498db;
}

footer .social-icons {
    margin-top: 10px;
}

footer .social-icons a {
    color: black;
    font-size: 2rem;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #1da1f2;
}

footer .social-icons .fa-facebook:hover {
    color: #3b5998;
}

footer .social-icons .fa-youtube:hover {
    color: #3b20b4;
}
